rayfelipesynapseworkspace/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "rayfelipesynapseworkspace"
		},
		"AzureSynapseAnalytics1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalytics1'"
		},
		"DataLake2_DemoRG_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLake2_DemoRG'"
		},
		"DataLakeGen2Sri_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLakeGen2Sri'"
		},
		"rayfelipesynapseworkspace-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'rayfelipesynapseworkspace-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:rayfelipesynapseworkspace.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"raysynapse5-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'raysynapse5-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:raysynapse5.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"DataLake2_DemoRG_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakaeacctindemorg.dfs.core.windows.net/"
		},
		"DataLakeGen2Sri_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakemxiar8l.dfs.core.windows.net/"
		},
		"rayfelipesynapseworkspace-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://rayfelipedlgen2account.dfs.core.windows.net"
		},
		"raysynapse5-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raystore5.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/CalEnviroScreenCSV')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "CalEnvironScreenCopyActivity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "bscccontainer//calenviroscreen-3.0-results-june-2018-update.csv"
							},
							{
								"name": "Destination",
								"value": "dbo.calenviroscreen-3"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"writeBehavior": "Insert",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Census Tract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Census Tract",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Total Population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Total Population",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "California County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "California County",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ZIP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZIP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Nearby City (to help approximate location only)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nearby City (to help approximate location only)",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CES 3.0 Score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CES 3.0 Score",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CES 3.0 Percentile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CES 3.0 Percentile",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CES 3.0 Percentile Range",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CES 3.0 Percentile Range",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SB 535 Disadvantaged Community",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SB 535 Disadvantaged Community",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Ozone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ozone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Ozone Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ozone Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PM2.5",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PM2.5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PM2.5 Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PM2.5 Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Diesel PM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Diesel PM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Diesel PM Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Diesel PM Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drinking Water",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Drinking Water",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Drinking Water Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Drinking Water Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pesticides",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pesticides",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pesticides Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pesticides Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tox. Release",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tox. Release",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Tox. Release Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tox. Release Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Traffic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Traffic",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Traffic Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Traffic Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cleanup Sites",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cleanup Sites",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cleanup Sites Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cleanup Sites Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Groundwater Threats",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Groundwater Threats",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Groundwater Threats Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Groundwater Threats Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Haz. Waste",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Haz. Waste",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Haz. Waste Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Haz. Waste Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Imp. Water Bodies",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Imp. Water Bodies",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Imp. Water Bodies Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Imp. Water Bodies Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Solid Waste",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Solid Waste",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Solid Waste Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Solid Waste Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pollution Burden",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pollution Burden",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pollution Burden Score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pollution Burden Score",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pollution Burden Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pollution Burden Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Asthma",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Asthma",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Asthma Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Asthma Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Low Birth Weight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Low Birth Weight",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Low Birth Weight Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Low Birth Weight Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cardiovascular Disease",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cardiovascular Disease",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cardiovascular Disease Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cardiovascular Disease Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Education",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Education",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Education Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Education Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Linguistic Isolation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Linguistic Isolation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Linguistic Isolation Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Linguistic Isolation Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Poverty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Poverty",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Poverty Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Poverty Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Unemployment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unemployment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Unemployment Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unemployment Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Housing Burden",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Housing Burden",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Housing Burden Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Housing Burden Pctl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pop. Char. ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pop. Char. ",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pop. Char. Score",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pop. Char. Score",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Pop. Char. Pctl",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pop. Char. Pctl",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_ylf",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_ylf",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Notebook1",
						"type": "SynapseNotebook",
						"dependsOn": [
							{
								"activity": "CalEnvironScreenCopyActivity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebook": {
								"referenceName": "Notebook 1",
								"type": "NotebookReference"
							},
							"snapshot": true,
							"sparkPool": {
								"referenceName": "SynapseDemoSprk",
								"type": "BigDataPoolReference"
							},
							"conf": {
								"spark.dynamicAllocation.enabled": null,
								"spark.dynamicAllocation.minExecutors": null,
								"spark.dynamicAllocation.maxExecutors": null
							},
							"numExecutors": null
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_ylf')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_ylf')]",
				"[concat(variables('workspaceId'), '/notebooks/Notebook 1')]",
				"[concat(variables('workspaceId'), '/bigDataPools/SynapseDemoSprk')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyPipeline_NYCTaxiTripSmall')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_cq5",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "rayfelipedlgen2filesystem/Quickstarts/NYCTripSmall.parquet"
							},
							{
								"name": "Destination",
								"value": "dbo.NYCTripSmall"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"writeBehavior": "Insert",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VendorID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "VendorID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lpep_pickup_datetime",
											"type": "Int64",
											"physicalType": "TIMESTAMP_MICROS"
										},
										"sink": {
											"name": "lpep_pickup_datetime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lpep_dropoff_datetime",
											"type": "Int64",
											"physicalType": "TIMESTAMP_MICROS"
										},
										"sink": {
											"name": "lpep_dropoff_datetime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "store_and_fwd_flag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "store_and_fwd_flag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatecodeID",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "RatecodeID",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "PULocationID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "PULocationID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DOLocationID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "DOLocationID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "passenger_count",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "passenger_count",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "trip_distance",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "trip_distance",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "fare_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "fare_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "extra",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "extra",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "mta_tax",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "mta_tax",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "tip_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "tip_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "tolls_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "tolls_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ehail_fee",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "ehail_fee",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "improvement_surcharge",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "improvement_surcharge",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "total_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "payment_type",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "payment_type",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "trip_type",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "trip_type",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "congestion_surcharge",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "congestion_surcharge",
											"type": "Double"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_cq5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_cq5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_cq5')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_cq5')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CopyPipeline_nyctaxitrip')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy_h3j",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "rayfelipedlgen2filesystem/Quickstarts/NYCTripSmall.parquet"
							},
							{
								"name": "Destination",
								"value": "dbo.NYCTripSmall"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlPoolSink",
								"writeBehavior": "Insert",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VendorID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "VendorID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lpep_pickup_datetime",
											"type": "Int64",
											"physicalType": "TIMESTAMP_MICROS"
										},
										"sink": {
											"name": "lpep_pickup_datetime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lpep_dropoff_datetime",
											"type": "Int64",
											"physicalType": "TIMESTAMP_MICROS"
										},
										"sink": {
											"name": "lpep_dropoff_datetime",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "store_and_fwd_flag",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "store_and_fwd_flag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RatecodeID",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "RatecodeID",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "PULocationID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "PULocationID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "DOLocationID",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "DOLocationID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "passenger_count",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "passenger_count",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "trip_distance",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "trip_distance",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "fare_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "fare_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "extra",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "extra",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "mta_tax",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "mta_tax",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "tip_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "tip_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "tolls_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "tolls_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "ehail_fee",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "ehail_fee",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "improvement_surcharge",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "improvement_surcharge",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "total_amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "payment_type",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "payment_type",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "trip_type",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "trip_type",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "congestion_surcharge",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "congestion_surcharge",
											"type": "Double"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_h3j",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_h3j",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SourceDataset_h3j')]",
				"[concat(variables('workspaceId'), '/datasets/DestinationDataset_h3j')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSynapseAnalyticsTable1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "City Key",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WWI City ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State Province",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Continent",
						"type": "nvarchar"
					},
					{
						"name": "Sales Territory",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "Subregion",
						"type": "nvarchar"
					},
					{
						"name": "Location",
						"type": "varbinary"
					},
					{
						"name": "Latest Recorded Population",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "Valid From",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Valid To",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "Lineage Key",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "Dimension",
					"table": "City"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_cq5')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYCTripSmall"
				},
				"sqlPool": {
					"referenceName": "SQL Dedicated 1",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/SQL Dedicated 1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_h3j')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "NYCTripSmall"
				},
				"sqlPool": {
					"referenceName": "SQL Dedicated 1",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/SQL Dedicated 1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DestinationDataset_ylf')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "calenviroscreen-3"
				},
				"sqlPool": {
					"referenceName": "SQL Dedicated 1",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/SQL Dedicated 1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_cq5')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rayfelipesynapseworkspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "NYCTripSmall.parquet",
						"folderPath": "Quickstarts",
						"fileSystem": "rayfelipedlgen2filesystem"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "VendorID",
						"type": "INT64"
					},
					{
						"name": "lpep_pickup_datetime",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "lpep_dropoff_datetime",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "UTF8"
					},
					{
						"name": "RatecodeID",
						"type": "DOUBLE"
					},
					{
						"name": "PULocationID",
						"type": "INT64"
					},
					{
						"name": "DOLocationID",
						"type": "INT64"
					},
					{
						"name": "passenger_count",
						"type": "DOUBLE"
					},
					{
						"name": "trip_distance",
						"type": "DOUBLE"
					},
					{
						"name": "fare_amount",
						"type": "DOUBLE"
					},
					{
						"name": "extra",
						"type": "DOUBLE"
					},
					{
						"name": "mta_tax",
						"type": "DOUBLE"
					},
					{
						"name": "tip_amount",
						"type": "DOUBLE"
					},
					{
						"name": "tolls_amount",
						"type": "DOUBLE"
					},
					{
						"name": "ehail_fee",
						"type": "INT32"
					},
					{
						"name": "improvement_surcharge",
						"type": "DOUBLE"
					},
					{
						"name": "total_amount",
						"type": "DOUBLE"
					},
					{
						"name": "payment_type",
						"type": "DOUBLE"
					},
					{
						"name": "trip_type",
						"type": "DOUBLE"
					},
					{
						"name": "congestion_surcharge",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/rayfelipesynapseworkspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_h3j')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rayfelipesynapseworkspace-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "NYCTripSmall.parquet",
						"folderPath": "Quickstarts",
						"fileSystem": "rayfelipedlgen2filesystem"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "VendorID",
						"type": "INT64"
					},
					{
						"name": "lpep_pickup_datetime",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "lpep_dropoff_datetime",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "UTF8"
					},
					{
						"name": "RatecodeID",
						"type": "DOUBLE"
					},
					{
						"name": "PULocationID",
						"type": "INT64"
					},
					{
						"name": "DOLocationID",
						"type": "INT64"
					},
					{
						"name": "passenger_count",
						"type": "DOUBLE"
					},
					{
						"name": "trip_distance",
						"type": "DOUBLE"
					},
					{
						"name": "fare_amount",
						"type": "DOUBLE"
					},
					{
						"name": "extra",
						"type": "DOUBLE"
					},
					{
						"name": "mta_tax",
						"type": "DOUBLE"
					},
					{
						"name": "tip_amount",
						"type": "DOUBLE"
					},
					{
						"name": "tolls_amount",
						"type": "DOUBLE"
					},
					{
						"name": "ehail_fee",
						"type": "INT32"
					},
					{
						"name": "improvement_surcharge",
						"type": "DOUBLE"
					},
					{
						"name": "total_amount",
						"type": "DOUBLE"
					},
					{
						"name": "payment_type",
						"type": "DOUBLE"
					},
					{
						"name": "trip_type",
						"type": "DOUBLE"
					},
					{
						"name": "congestion_surcharge",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/rayfelipesynapseworkspace-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SourceDataset_ylf')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake2_DemoRG",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "calenviroscreen-3.0-results-june-2018-update.csv",
						"fileSystem": "bscccontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Census Tract",
						"type": "String"
					},
					{
						"name": "Total Population",
						"type": "String"
					},
					{
						"name": "California County",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Nearby City (to help approximate location only)",
						"type": "String"
					},
					{
						"name": "Longitude",
						"type": "String"
					},
					{
						"name": "Latitude",
						"type": "String"
					},
					{
						"name": "CES 3.0 Score",
						"type": "String"
					},
					{
						"name": "CES 3.0 Percentile",
						"type": "String"
					},
					{
						"name": "CES 3.0 Percentile Range",
						"type": "String"
					},
					{
						"name": "SB 535 Disadvantaged Community",
						"type": "String"
					},
					{
						"name": "Ozone",
						"type": "String"
					},
					{
						"name": "Ozone Pctl",
						"type": "String"
					},
					{
						"name": "PM2.5",
						"type": "String"
					},
					{
						"name": "PM2.5 Pctl",
						"type": "String"
					},
					{
						"name": "Diesel PM",
						"type": "String"
					},
					{
						"name": "Diesel PM Pctl",
						"type": "String"
					},
					{
						"name": "Drinking Water",
						"type": "String"
					},
					{
						"name": "Drinking Water Pctl",
						"type": "String"
					},
					{
						"name": "Pesticides",
						"type": "String"
					},
					{
						"name": "Pesticides Pctl",
						"type": "String"
					},
					{
						"name": "Tox. Release",
						"type": "String"
					},
					{
						"name": "Tox. Release Pctl",
						"type": "String"
					},
					{
						"name": "Traffic",
						"type": "String"
					},
					{
						"name": "Traffic Pctl",
						"type": "String"
					},
					{
						"name": "Cleanup Sites",
						"type": "String"
					},
					{
						"name": "Cleanup Sites Pctl",
						"type": "String"
					},
					{
						"name": "Groundwater Threats",
						"type": "String"
					},
					{
						"name": "Groundwater Threats Pctl",
						"type": "String"
					},
					{
						"name": "Haz. Waste",
						"type": "String"
					},
					{
						"name": "Haz. Waste Pctl",
						"type": "String"
					},
					{
						"name": "Imp. Water Bodies",
						"type": "String"
					},
					{
						"name": "Imp. Water Bodies Pctl",
						"type": "String"
					},
					{
						"name": "Solid Waste",
						"type": "String"
					},
					{
						"name": "Solid Waste Pctl",
						"type": "String"
					},
					{
						"name": "Pollution Burden",
						"type": "String"
					},
					{
						"name": "Pollution Burden Score",
						"type": "String"
					},
					{
						"name": "Pollution Burden Pctl",
						"type": "String"
					},
					{
						"name": "Asthma",
						"type": "String"
					},
					{
						"name": "Asthma Pctl",
						"type": "String"
					},
					{
						"name": "Low Birth Weight",
						"type": "String"
					},
					{
						"name": "Low Birth Weight Pctl",
						"type": "String"
					},
					{
						"name": "Cardiovascular Disease",
						"type": "String"
					},
					{
						"name": "Cardiovascular Disease Pctl",
						"type": "String"
					},
					{
						"name": "Education",
						"type": "String"
					},
					{
						"name": "Education Pctl",
						"type": "String"
					},
					{
						"name": "Linguistic Isolation",
						"type": "String"
					},
					{
						"name": "Linguistic Isolation Pctl",
						"type": "String"
					},
					{
						"name": "Poverty",
						"type": "String"
					},
					{
						"name": "Poverty Pctl",
						"type": "String"
					},
					{
						"name": "Unemployment",
						"type": "String"
					},
					{
						"name": "Unemployment Pctl",
						"type": "String"
					},
					{
						"name": "Housing Burden",
						"type": "String"
					},
					{
						"name": "Housing Burden Pctl",
						"type": "String"
					},
					{
						"name": "Pop. Char. ",
						"type": "String"
					},
					{
						"name": "Pop. Char. Score",
						"type": "String"
					},
					{
						"name": "Pop. Char. Pctl",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/DataLake2_DemoRG')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "AzureSynapseSri",
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DataLake2_DemoRG')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLake2_DemoRG_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLake2_DemoRG_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DataLakeGen2Sri')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLakeGen2Sri_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLakeGen2Sri_accountKey')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PowerBIWorkspace1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "PowerBIWorkspace",
				"typeProperties": {
					"workspaceID": "fcf798ad-1b90-48bb-a5a9-75b0b9417ff5",
					"tenantID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rayfelipesynapseworkspace-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('rayfelipesynapseworkspace-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rayfelipesynapseworkspace-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('rayfelipesynapseworkspace-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/raysynapse5-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('raysynapse5-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/raysynapse5-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('raysynapse5-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Create Views Clean')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "--CREATE VIEW [dbo].[County_Cardio_Disease] AS\nSELECT [California County] as County, \nSUM(cast([Cardiovascular Disease] as FLOAT)) as [Cardio Disease]\nFROM [dbo].[calenviroscreen]\ngroup by [California County]\n\n--CREATE VIEW [dbo].[County_Covid_Deaths] AS\nSELECT\n[area] as County, cast([cumulative_deaths] as FLOAT) as [Covid Deaths]\n FROM [dbo].[Covid19CasesTest]\n where area_type != 'State' and date = '' \n\nSELECT c.County, c.[Cardio Disease], \nd.[Covid Deaths]\nfrom dbo.County_Cardio_Disease c, dbo.County_Covid_Deaths d\nwhere c.County = d.County\norder by d.[Covid Deaths] desc\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Dedicated 1",
						"poolName": "SQL Dedicated 1"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Create Views Complete')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "--CREATE VIEW [dbo].[County_Cardio_Disease] AS\nSELECT [California County] as County, \n--, [ZIP]\n--, [Nearby City (to help approximate location only)]\nSUM(cast([Cardiovascular Disease] as FLOAT)) as [Cardio Disease]\n--, [Cardiovascular Disease Pctl]\nFROM [dbo].[calenviroscreen]\n--where [California County] = 'Ventura'\ngroup by [California County]\n--order by [Cardio Disease] desc\n\n--CREATE VIEW [dbo].[County_Covid_Deaths] AS\nSELECT\n--[date]\n[area] as County, cast([cumulative_deaths] as FLOAT) as [Covid Deaths]\n--[cumulative_deaths]\n FROM [dbo].[Covid19CasesTest]\n where area_type != 'State' and date = '' \n --and area = 'Los Angeles' \n\n\nselect c.County, c.[Cardio Disease], \n--cast(d.[Covid Deaths] as numeric)\n--convert(decimal(18,2),[Covid Deaths])\n--d.[Covid Deaths] as numeric\n--isNumeric(d.[Covid Deaths])\nd.[Covid Deaths]\nfrom dbo.County_Cardio_Disease c, dbo.County_Covid_Deaths d\nwhere c.County = d.County\norder by d.[Covid Deaths] desc\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CreateExplorationDB')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/1. AnalyzeUsingServerless"
				},
				"content": {
					"query": "CREATE DATABASE DataExplorationDB \n                COLLATE Latin1_General_100_BIN2_UTF8",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CreateExternalDataSource')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/1. AnalyzeUsingServerless"
				},
				"content": {
					"query": "CREATE EXTERNAL DATA SOURCE rayfelipedlgen2account\nWITH ( LOCATION = 'https://rayfelipedlgen2account.dfs.core.windows.net')\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CreateNYCTaxiTripSmallinDedicated')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/2. AnalyzeUsingDedicatedSQLPool"
				},
				"content": {
					"query": "IF NOT EXISTS (SELECT * FROM sys.objects O JOIN sys.schemas S ON O.schema_id = S.schema_id WHERE O.NAME = 'NYCTaxiTripSmall' AND O.TYPE = 'U' AND S.NAME = 'dbo')\nCREATE TABLE dbo.NYCTaxiTripSmall\n    (\n     [DateID] float,\n     [MedallionID] float,\n     [HackneyLicenseID] float,\n     [PickupTimeID] float,\n     [DropoffTimeID] float,\n     [PickupGeographyID] float,\n     [DropoffGeographyID] float,\n     [PickupLatitude] float,\n     [PickupLongitude] float,\n     [PickupLatLong] nvarchar(4000),\n     [DropoffLatitude] float,\n     [DropoffLongitude] float,\n     [DropoffLatLong] nvarchar(4000),\n     [PassengerCount] int,\n     [TripDurationSeconds] int,\n     [TripDistanceMiles] float,\n     [PaymentType] nvarchar(4000),\n     [FareAmount] numeric(19,4),\n     [SurchargeAmount] numeric(19,4),\n     [TaxAmount] numeric(19,4),\n     [TipAmount] numeric(19,4),\n     [TollsAmount] numeric(19,4),\n     [TotalAmount] numeric(19,4)\n    )\nWITH\n    (\n    DISTRIBUTION = ROUND_ROBIN,\n     CLUSTERED COLUMNSTORE INDEX\n     -- HEAP\n    )\nGO\n\nCOPY INTO dbo.NYCTaxiTripSmall\n(DateID 1, MedallionID 2, HackneyLicenseID 3, PickupTimeID 4, DropoffTimeID 5,\nPickupGeographyID 6, DropoffGeographyID 7, PickupLatitude 8, PickupLongitude 9, \nPickupLatLong 10, DropoffLatitude 11, DropoffLongitude 12, DropoffLatLong 13, \nPassengerCount 14, TripDurationSeconds 15, TripDistanceMiles 16, PaymentType 17, \nFareAmount 18, SurchargeAmount 19, TaxAmount 20, TipAmount 21, TollsAmount 22, \nTotalAmount 23)\nFROM 'https://rayfelipedlgen2account.dfs.core.windows.net/rayfelipedlgen2filesystem/Quickstarts/NYCTripSmall-Jan2021.parquet'\nWITH\n(\n    FILE_TYPE = 'PARQUET'\n    ,MAXERRORS = 0\n    ,IDENTITY_INSERT = 'OFF'\n)",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Dedicated 1",
						"poolName": "SQL Dedicated 1"
					},
					"resultLimit": -1
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DropNYCTaxiTripSmall')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/2. AnalyzeUsingDedicatedSQLPool"
				},
				"content": {
					"query": "DROP TABLE [dbo].[NYCTaxiTripSmall]\nGO\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Dedicated 1",
						"poolName": "SQL Dedicated 1"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/GithubTest')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- This is auto-generated code\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://datalakaeacctindemorg.dfs.core.windows.net/bscccontainer/CDFW_Facilities.csv',\n        FORMAT = 'CSV',\nPARSER_VERSION = '2.0'\n    ) AS [result]\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Serverless 1",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Join Cardio Disease and Deaths')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE VIEW [dbo].[County_Cardio_Disease] AS\nSELECT [California County] as County, \nSUM(cast([Cardiovascular Disease] as FLOAT)) as [Cardio Disease]\nFROM [dbo].[calenviro]\ngroup by [California County]\n\n\nCREATE VIEW [dbo].[County_Covid_Deaths] AS\nSELECT\n[area] as County, cast([cumulative_deaths] as FLOAT) as [Covid Deaths]\n FROM [dbo].[covid_testcases]\n where area_type != 'State' and date IS NULL\n\n\nselect c.County, c.[Cardio Disease], \nd.[Covid Deaths]\nfrom dbo.County_Cardio_Disease c, dbo.County_Covid_Deaths d\nwhere c.County = d.County\norder by d.[Covid Deaths] desc\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/NYCPassengerCountAnalysis')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/2. AnalyzeUsingDedicatedSQLPool"
				},
				"content": {
					"query": "SELECT passenger_count,\n      SUM(trip_distance) as SumTripDistance,\n      AVG(trip_distance) as AvgTripDistance\n--INTO dbo.PassengerCountStats\nFROM  dbo.NYCTripSmall\nWHERE trip_distance > 0 AND passenger_count > 0\nGROUP BY passenger_count;\nSELECT * FROM dbo.PassengerCountStats\nORDER BY passenger_count;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Dedicated 1",
						"poolName": "SQL Dedicated 1"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/NYCTaxiTop100')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/1. AnalyzeUsingServerless"
				},
				"content": {
					"query": "SELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://rayfelipedlgen2account.dfs.core.windows.net/rayfelipedlgen2filesystem/Quickstarts/NYCTripSmall-Feb2022.parquet',\n        FORMAT='PARQUET'\n    ) AS [result]",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SelectTop100FromExternalDS')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/1. AnalyzeUsingServerless"
				},
				"content": {
					"query": "SELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n            BULK '/rayfelipedlgen2filesystem/Quickstarts/NYCTripSmall.parquet',\n            DATA_SOURCE = 'rayfelipedlgen2account',\n            FORMAT='PARQUET'\n    ) AS [result]\n\n\n           ",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "DataExplorationDB",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/UpdatePaymentType_sp')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE PROC [dbo].[UpdatePaymentType]\nAS\nBEGIN\nUPDATE [dbo].[greentaxi]\nSET PaymentType = 2\nEND",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/update_covid_gender_unknown_sp')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE PROC [dbo].[update_covid_gender_unknown_sp]\nAS\nBEGIN\nUPDATE [dbo].[bscc_covid_bygender]\nSET demographic_value = 'Unknown'\nWHERE demographic_value = 'Total'\nEND",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "SQL Dedicated 1",
						"poolName": "SQL Dedicated 1"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AnalyzeNYCTaxiDataWithSparkPool')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Quickstarts/4. AnalyzeUsingSparkPool"
				},
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "SynapseDemoSprk",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "2f803b37-f3ca-4f05-aebf-42c5e2e74349"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/499bc654-f84c-46c2-952c-b30be508f78c/resourceGroups/Synapse-Demo/providers/Microsoft.Synapse/workspaces/rayfelipesynapseworkspace/bigDataPools/SynapseDemoSprk",
						"name": "SynapseDemoSprk",
						"type": "Spark",
						"endpoint": "https://rayfelipesynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/SynapseDemoSprk",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"microsoft": {
								"language": "python"
							},
							"collapsed": false
						},
						"source": [
							"%%pyspark\r\n",
							"df = spark.read.load('abfss://rayfelipedlgen2filesystem@rayfelipedlgen2account.dfs.core.windows.net/Quickstarts/NYCTripSmall.parquet', format='parquet')\r\n",
							"display(df.limit(10))\r\n",
							"\r\n",
							""
						],
						"outputs": [],
						"execution_count": 5
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"df.printSchema()\r\n",
							"\r\n",
							"spark.sql(\"CREATE DATABASE IF NOT EXISTS nyctaxi\")\r\n",
							"df.write.mode(\"overwrite\").saveAsTable(\"nyctaxi.trip\")"
						],
						"outputs": [],
						"execution_count": 6
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"# Analyze the NYC Taxi data using Spark and notebooks\r\n",
							""
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"\r\n",
							"df = spark.sql(\"SELECT * FROM nyctaxi.trip\") \r\n",
							"display(df)"
						],
						"outputs": [],
						"execution_count": 3
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "python"
							},
							"collapsed": false
						},
						"source": [
							"%%pyspark\r\n",
							"df = spark.sql(\"\"\"\r\n",
							"   SELECT passenger_count,\r\n",
							"       SUM(trip_distance) as SumTripDistance,\r\n",
							"       AVG(trip_distance) as AvgTripDistance\r\n",
							"   FROM nyctaxi.trip\r\n",
							"   WHERE trip_distance > 0 AND passenger_count > 0\r\n",
							"   GROUP BY passenger_count\r\n",
							"   ORDER BY passenger_count\r\n",
							"\"\"\") \r\n",
							"display(df)\r\n",
							"df.write.saveAsTable(\"nyctaxi.passengercountstats\")"
						],
						"outputs": [],
						"execution_count": 4
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BSCC Notebook')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "bce5f04a-eabe-4e94-8107-5bc64e96ee2a"
					}
				},
				"metadata": {
					"saveOutput": true,
					"synapse_widget": {
						"version": "0.1"
					},
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"from pyspark.sql import SparkSession\r\n",
							"from pyspark.sql.types import *\r\n",
							"from pyspark.sql.functions import col, year, month, dayofmonth, unix_timestamp, round, when\r\n",
							"from datetime import datetime\r\n",
							"\r\n",
							"# Replace your storage location\r\n",
							"covid19casesdemographicsdf = spark.read.load('abfss://bsccsandboxdlgen2filesystem@bsccsandboxdlgen2acct.dfs.core.windows.net/bscc_datasets/covid19casesdemographics.csv', \r\n",
							"format='csv', header=True)\r\n",
							"\r\n",
							"#covid19casesdemographicsdf = spark.read.load('abfss://bsccdemodlgen2filesystem@bsccdemodlgen2acct.dfs.core.windows.net/bscc_dataset/covid19casesdemographics.csv', \r\n",
							"#format='csv', header=True)\r\n",
							"\r\n",
							"covid19casesdemographicsdf = covid19casesdemographicsdf.where(col('deaths') > 0)\r\n",
							"covid19casesdemographicsdf = covid19casesdemographicsdf.where(col('demographic_category') == 'Gender')\r\n",
							"\r\n",
							"spark.sql(\"CREATE DATABASE IF NOT EXISTS bcc_data_lake\")\r\n",
							"covid19casesdemographicsdf.repartition(4).write.mode(\"overwrite\").saveAsTable(\"bcc_data_lake.covid_bygender\")\r\n",
							"\r\n",
							"print(\"Extracted & cleaned data\")\r\n",
							"\r\n",
							"#covid19casesdemographicsdf = covid19casesdemographicsdf.select(col(\"demographic_category\"))\r\n",
							"\r\n",
							"display(covid19casesdemographicsdf.limit(1000))\r\n",
							"\r\n",
							"#covid19casesdemographicsdf.printSchema()\r\n",
							"\r\n",
							""
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Caltrans Traffic')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "SynapseDemoSprk",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "b11b76df-9095-4910-a32a-d1118e7801fd"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/499bc654-f84c-46c2-952c-b30be508f78c/resourceGroups/Synapse-Demo/providers/Microsoft.Synapse/workspaces/rayfelipesynapseworkspace/bigDataPools/SynapseDemoSprk",
						"name": "SynapseDemoSprk",
						"type": "Spark",
						"endpoint": "https://rayfelipesynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/SynapseDemoSprk",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"microsoft": {
								"language": "python"
							},
							"collapsed": false
						},
						"source": [
							"%%pyspark\r\n",
							"df = spark.read.load('abfss://rayfelipedlgen2filesystem@rayfelipedlgen2account.dfs.core.windows.net/Caltrans/traffic.csv', format='csv'\r\n",
							"## Ifheaderexistsuncommentlinebelow\r\n",
							"##, header=True\r\n",
							")\r\n",
							"display(df.limit(5))\r\n",
							"\r\n",
							"print(df.show())\r\n",
							"print(df.printSchema())\r\n",
							"df.select(\"_c2\").show()\r\n",
							"df.filter(df[2] == \"10\").show()\r\n",
							"df.groupBy(\"_c2\").count().show()\r\n",
							"print(df[3])\r\n",
							"\r\n",
							"import pandas as pd\r\n",
							"\r\n",
							"from pandas import read_csv\r\n",
							"from pandas import set_option\r\n",
							"\r\n",
							"# CAL TRANS DATA SET\r\n",
							"path = 'abfss://rayfelipedlgen2filesystem@rayfelipedlgen2account.dfs.core.windows.net/Caltrans/traffic.csv'\r\n",
							"headernames = ['DateTime', 'Junction', 'Vehicles', 'ID']\r\n",
							"data = read_csv(path, names=headernames)\r\n",
							"set_option('display.width', 100)\r\n",
							"set_option('precision', 2)\r\n",
							"\r\n",
							"print(data.head(10))\r\n",
							"print(data.shape)\r\n",
							"print(data.describe())\r\n",
							"\r\n",
							"#correlations = data.corr(method='pearson')\r\n",
							"#print(\"CORRELATIONS:\")\r\n",
							"#print(correlations)"
						],
						"outputs": [],
						"execution_count": 2
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Index Matching Example')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "d2d53cc1-6239-484c-8fed-ea3660513f3d"
					}
				},
				"metadata": {
					"saveOutput": true,
					"synapse_widget": {
						"version": "0.1"
					},
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"listA = ['Mon','Tue', 'Wed', 'Thu', 'Fri']\r\n",
							"listB = ['Tue', 'Fri']\r\n",
							"# Given lists\r\n",
							"print(\"The given list:\\n \",listA)\r\n",
							"print(\"The list of values:\\n \",listB)\r\n",
							"# using indices\r\n",
							"res = [listA.index(i) for i in listB]\r\n",
							"# Result\r\n",
							"print(\"The Match indices list is : \",res)\r\n",
							""
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Matplotlib Example')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "SynapseDemoSprk",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "bb3b9679-1df3-4c6f-82e1-f43b90930e65"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/499bc654-f84c-46c2-952c-b30be508f78c/resourceGroups/Synapse-Demo/providers/Microsoft.Synapse/workspaces/rayfelipesynapseworkspace/bigDataPools/SynapseDemoSprk",
						"name": "SynapseDemoSprk",
						"type": "Spark",
						"endpoint": "https://rayfelipesynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/SynapseDemoSprk",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"import matplotlib.pyplot as plt\r\n",
							"\r\n",
							"x1 = [1, 3, 4, 5, 6, 7, 9]\r\n",
							"y1 = [4, 7, 2, 4, 7, 8, 3]\r\n",
							"\r\n",
							"x2 = [2, 4, 6, 8, 10]\r\n",
							"y2 = [5, 6, 2, 6, 2]\r\n",
							"\r\n",
							"plt.bar(x1, y1, label=\"Blue Bar\", color='b')\r\n",
							"plt.bar(x2, y2, label=\"Green Bar\", color='g')\r\n",
							"plt.plot()\r\n",
							"\r\n",
							"plt.xlabel(\"bar number\")\r\n",
							"plt.ylabel(\"bar height\")\r\n",
							"plt.title(\"Bar Chart Example\")\r\n",
							"plt.legend()\r\n",
							"plt.show()"
						],
						"outputs": [],
						"execution_count": null
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 1')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "SynapseDemoSprk",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "c3e15406-b9b8-4ff0-a369-483bf44bb332"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "python"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/499bc654-f84c-46c2-952c-b30be508f78c/resourceGroups/Synapse-Demo/providers/Microsoft.Synapse/workspaces/rayfelipesynapseworkspace/bigDataPools/SynapseDemoSprk",
						"name": "SynapseDemoSprk",
						"type": "Spark",
						"endpoint": "https://rayfelipesynapseworkspace.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/SynapseDemoSprk",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"test 55599 222\r\n",
							"\r\n",
							"testing 445"
						],
						"outputs": [],
						"execution_count": null
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LakeDatabase1')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "LakeDatabase1",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://rayfelipedlgen2filesystem@rayfelipedlgen2account.dfs.core.windows.net/LakeDatabase1",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "rayfelipesynapseworkspace-WorkspaceDefaultStorage"
								}
							}
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL Dedicated 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westus"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SynapseDemoSprk')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 6,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.2",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westus"
		}
	]
}